/* .about-us-section {
    border: 1px solid orange;
    padding: 30px 0;
} */

.about-us-section .about-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.about-us-section .about-button button:nth-of-type(1) a {
    color: #29a9d2;
    font-size: 16px;
}

.wcu-section .wcu-paragraph {
    display: -webkit-box;
    /* Required for Webkit browsers */
    -webkit-box-orient: vertical;
    /* Required for Webkit browsers */
    -webkit-line-clamp: 8;
    /* Number of lines to show */
    overflow: hidden;
    /* Hide the overflowing content */
    text-overflow: ellipsis;
    margin-bottom: 15px;

}

.wcu-section .wcu-cta-btns button:nth-of-type(1) {
    width: 100%;
}
