.back-to-top {
    /* border: 1px solid orange; */
    position: fixed;
    bottom: 40px;
    right: 40px;
    height: 50px;
    width: 50px;
    z-index: 1000;
    
}

.top-btn {
    /* border: 5px solid orange; */
    background: #29a9d2; 
    color: #fff; /* Button text color */
    border: none;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    /* padding: 15px; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.4s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0.7;
}

.top-btn > i {
    font-size: 19px;
    margin: auto;
}

.top-btn:hover {
    opacity: 1;
}

@media (max-width:750px) {
    .back-to-top {
        right: 20px;
        bottom: 20px;
    }
}
