.service-list-section {
    background: #cef3ff;
    padding: 120px 0 40px;
}

.service-list-section .services-container {
    /* border: 1px solid orange; */
    width: 85%;
    margin: auto;
}

.services-container .section-title .st1 {
    display: none;
}

.services-container h1 {
    font-size: 2.5rem;
}

.service-list-section .services-card-container {
    /* border: 1px solid orange; */
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.service-list-section .service-card {
    /* border: 1px solid orange; */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(121, 121, 121, 0.15);
    width: 260px;
    height: 350px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 0 20px 10px;
    transition: all 0.3s ease;
}

.service-card:hover {
    background-color: #29a9d2;
}

.service-card-img {
    /* border: 1px solid orange; */
    height: 150px;
    width: 200px;
}

.service-card-img img {
    height: 100%;
    width: 100%;
}

.service-card-body {
    text-align: center;
}

.service-card-body h4 {
    color: #29a9d2;
    margin-bottom: 10px;
}

.service-list-section .service-card-body p {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.service-card:hover .service-card-body h4,
.service-card:hover .service-card-body p {
    color: #ffffff;
    user-select: none;
}

.service-card:hover .service-card-btn button {
    background: #003d73;
    border: 3px solid #003d73;
    color: #ffffff;
    cursor: pointer;
}

.service-card:hover .service-card-btn button a {
    color: #ffffff;
}

.service-card-btn button {
    width: 200px;
    height: 40px;
}

.service-title-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}




.services-detail-container {
    /* border: 1px solid orange; */
    margin: auto;
    background: #cef3ff;
    padding: 120px 50px 50px;
}

.services-detail-container h1 {
    color: #2e2e2e;
    margin-bottom: 10px;
}

.services-detail-card {
    /* border: 1px solid orange; */
    width: 50%;
    margin: auto;
    padding: 50px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(121, 121, 121, 0.15);
}

.service-detail-content h2,
.service-detail-content h3,
.service-detail-content h4 {
    color: #2e2e2e;
}

.service-detail-content li {
    margin-left: 40px;
}

.service-detail-cta {
    /* border: 1px solid orange; */
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.service-detail-cta button {
    width: 40%;
}